.withdrawal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67vh;
    background: white;
    /* width: 40%; */
    padding: 20px;
    border-radius: 8px;
    margin-top: 15px;
}

.withdrawal-select{
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
    position: relative;
    width: 100%;
    z-index: 2;
    border: none; 
    border-radius: 10px;
}

.withdrawal-select option{
    font-size: 14px;
}

.error-message{
    color: red;
}

.message-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}
.success-span{
    color: black;
    display: block;
    text-align: center;
    font-size: 32px;
}